<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721173201519-5ksmc1hp66p685d0nbgujukv24thbcot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721173201519-5ksmc1hp66p685d0nbgujukv24thbcot</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>721173201519-ldtjurt2eh3en54fenl6qsiregnmroj7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnEOc7Coe9ABuFFjAaVLhcGc7KoxbFsYE</string>
	<key>GCM_SENDER_ID</key>
	<string>721173201519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bantalabz.companyApp</string>
	<key>PROJECT_ID</key>
	<string>company-app-92585</string>
	<key>STORAGE_BUCKET</key>
	<string>company-app-92585.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721173201519:ios:02d37a72cc708361b9439a</string>
</dict>
</plist>